h1 {
  font-size: 90px;
  line-height: 90px;
}

h2 {
  font-size: 70px;
  line-height: 77px;
}

h3 {
  font-size: 45px;
  line-height: 49px;
}

body {
  font-size: 16px;
  line-height: 22px;
}

sub {
  font-size: 12px;
  line-height: 16.5px;
}

:root {
  /* grays */
  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1d2939;
  --gray-900: #101828;

  /* spacing */
  --s1: 0.25rem;
  --s2: 0.5rem;
  --s3: 0.75rem;
  --s4: 1rem;
  --s5: 1.25rem;
  --s6: 1.5rem;
  --s8: 2rem;
  --s10: 2.5rem;
  --s12: 3rem;
  --s16: 4rem;
  --s20: 5rem;
  --s24: 6rem;
  --s32: 8rem;
  --s40: 10rem;
  --s48: 12rem;
  --s56: 14rem;
  --s64: 16rem;

  /* containers */
  --sm: 40rem;
  --md: 48rem;
  --lg: 64rem;
  --xl: 80rem;

  /* breakpoints */
  --bp-phone: 375px;
  --bp-tablet: 768px;
  --bp-desktop: 1280px;

  /* columns */
  --col-12: repeat(12, 1fr);
  --col-6: repeat(6, 1fr);
  --col-5: repeat(5, 1fr);
  --col-3: repeat(3, 1fr);
  --col-2: repeat(2, 1fr);
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-family: "Thonburi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  cursor: pointer;
  overflow: hidden;
  transition-duration: 0.3s;
}

.btn-primary {
  width: 130px;
  height: 45px;
  border: 1px solid var(--gray-900);
  padding: 12px 16px;
  color: var(--gray-600);
}

.btn-primary:hover {
  border-color: var(--gray-600);
  color: var(--gray-600);
}

.btn-primary:active {
  background-color: var(--gray-900);
  color: var(--gray-25);
}
